.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E21300;
    color: white;
    text-align: center;
    font-family: '游明朝', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', serif;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 20px 60px;
    padding: 5px;
    flex:1;
    outline: 8px solid white;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}